header
    height: 50px
    display: flex
    justify-content: center
    align-items: center
    position: relative
    // background: #00c24d
    color: #00c24d
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2);
    z-index: 2
    a
        position: absolute
        right: 0
        height: 100%
        width: 50px
        display: flex
        background: #00c24d
        color: #fff
        justify-content: center
        align-items: center
        &:active
            background-color: lighten(#00c24d, 8%)
        // svg

    h1
        font-size: 1.4rem;
        // background: blue