#calcPage
    h3
        text-align: center
        color: $primary-color
        font-size: 1.2rem
        margin: 5px 15px
        span
            color: $white-color
            background-color: $primary-color
            padding: 0 5px
    .table
        display: flex
        flex-direction: column
        .row
            display: flex
            flex-flow: row-reverse
            margin: 5px
            border: 1px solid #eee
            &.row-head
                color: $primary-color
                font-weight: bold
                &.row-head .col
                    font-size: 0.85rem;
            &.row-result
                .col:first-of-type
                    flex: 50%
            .col
                height: 50px
                font-size: 0.80rem
                flex-wrap: wrap
                flex-basis: 20%
                display: flex
                justify-content: center
                align-items: center
                overflow: hidden
                &:first-of-type
                    color: $primary-color
                    font-weight: bold
                    flex-basis: 40%
                &.input
                    position: relative
                .validity
                    width: 0;
                    height: 0;
                    position: absolute
                    top: 10%
                    right: 10%
                input
                    height: 80%
                    width: 80%
                    text-align: center
                    outline: none
                    font-size: 0.7rem
                &.input.valid
                    .validity
                        border-left: 15px solid transparent
                        border-top: 15px solid $primary-color
                    input
                        border: 1px solid $primary-color
                &.input.invalid
                    .validity
                        border-left: 15px solid transparent
                        border-top: 15px solid $secondary-color
                    input
                        border: 1px solid $secondary-color
